.navBar {
    background-color: black;
    margin: 0px;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navBar ul{
    list-style: none;
}

.navBar a{
    text-decoration: none;
    color: white;
}

.profileIcon {
    color: white;
    position: absolute;
    right: 90px;
    cursor:pointer;
    transition: 0.1s all linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.profileIcon p{
    font-size: 14px;
    margin: 6px;
}

.profileIcon:hover {
    transform: scale(1.1);
    transition: 0.1s all linear;
}

