.postEdit {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    padding: 50px;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    text-align: center;
    position: relative;
}

.postEdit img {
    object-fit: contain;
    height: 400px;
    border-radius: 0.5em;
}

.postEdit p{
    font-size: 20px;
    margin: 0;
}

.section{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
}

.section p{
    width: 50px;
}

.section input, .section textarea{
    margin-left: 20px;
    border-radius: 0.5em;
    border: 1px solid;
}

.section input{
    height: 22px;
    width: 300px;
}

.title{
    margin: 0 0 20px 0;
    color: rgb(197, 164, 112);
}

.editForm button{
    width: 120px;
    height: 30px;
    border: none; 
    border-radius: 0.5em;
    font-size: 15px;
    background-color: rgb(243, 220, 185);
    transition: 0.1s all linear;
    cursor: pointer;
    margin-top: 20px;
}

.editForm button:hover {
    transform: scale(1.05);
    transition: 0.1s all linear;
    background-color: rgb(236, 208, 164);
}

.error {
    color: red;
    margin-top: 15px;
}

@media (max-width: 1400px) {
    .postEdit {
        width: 750px;
        padding: 30px;
        margin-top: 100px;
    }
    
}
