body {
  background-color: rgb(240, 237, 237);
  margin: 0;
  font-family: "Gothic A1", sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}